/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    min-height: fit-content; /*Så min sider fylder det mit content fylder*/
    background-color: #FFF9E4;
    
}

main{
    min-height: fit-content; /*Så min sider fylder det mit content fylder*/
    min-width: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-image: url(../img/tb.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 80%;
}


.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background-color: #FFF9E4;
    z-index: -1;
}

/* Styling af logo */
.logo-container{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #FFF9E4;
    width: 100%;
    
    
   
}

img{
   
    width: 150px;
}

/* Styling af mainnav */
header{
  display: flex;
  align-items: center;  
  position: sticky; /*Gør navigationsbaren følger siden*/
  top: 0px;
  width: 100%;
  z-index: 1000;
  background-color: #FFF9E4;
}

#main-menu {
    display: flex;
    height: 8rem; /*Højden af navigationsbare*/
    width: 100%;
    margin: 0px;  
    z-index: 1;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
    transition: top 0.3s;
    background-color: #FFF9E4;
  }
  
  #main-menu ul {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }
  #main-menu li {
    list-style-type: none;
    font-size: 1.5rem;

  }
 
  
  #main-menu a {
    color: #2430CB; /*farven på skrift*/
    font-size: 1rem;
    text-decoration: none;
  }
  
  #main-menu a:hover {
    text-decoration: underline; /*Hover i almindelig navbar*/
  }
  
  #hamburger-input{
    display: none;
  }
  
/* Styling af navbar */
#hamburger-menu {
    position: fixed;
    top: 5%;
    right: 20px;
    width: 40px; /*burgermenu ikon størelse*/
    height: 40px; /*burgermenu ikon størelse*/
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    z-index: 5;
    background-color: #FFF9E4;
    font-family: 'Courier New', Courier, monospace, serif;
    background: linear-gradient(
    to bottom, 
    #2430CB, #2430CB 20%, 
    rgba(255, 255, 255, 0) 20%,rgba(255, 255, 255, 0) 40%, /*gennemsigtig farve*/
    #2430CB 40%, #2430CB 60%, 
    rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 80%, 
    #2430CB 80%, #2430CB 100%
    );
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: -250px;
    width: 40%; /*Hvor meget burgermenuen fylder i udslået version*/
    height: 100%;
    background-color: #FFF9E4; /*Burgermenuens baggrundsfarve*/
    transition: 0.9s; 
    padding: 15px 10px;
    box-sizing: border-box;
}


#hamburger-menu ul {
    text-align: center;
  }
  
#hamburger-menu li {
    list-style-type: none;
    line-height: 3rem;
}


/* Skrift i hamburgermenu */
#hamburger-menu a {
    color: #2430CB; /*Skrift farve i burgermenu*/
    font-size: 1.3rem;
    text-decoration: none;
}

#hamburger-menu a:hover {
    text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    right: 0;
}
  
/* Gør den resterende skærm har et gennemsigtigt lag over */
#hamburger-input:checked ~ .overlay{
    visibility: visible;
    opacity: 0.4;
}



/*Styler min footer*/
footer {
   
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    background-color: #84B5E1;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    color: #FFF9E4;
    text-align: center;
}

/*Ændre farven på mine medie ikoner*/
footer a {
    color: #FFF9E4;
}

#info, #forhandler, #medier {
    
    padding: 1rem;
    box-sizing: border-box;

}


/*Breakpoint til lille Iphone */
@media screen and (min-width: 290px) {
    #main-menu {
      display: none;
    }
    #hamburger-menu {
      display: inline;
    }
    .logo-container {
        display: inline;
    }
    h1 {
        margin-top: 18vh;
        text-align: center;
        font-size: 1rem;
        color: #2430CB;
        background-color: #FFF9E4;
        padding: 1.5rem;
        
    }
    
    .citrus-content {
        color: black;
        font-family: 'Courier New', Courier, monospace;
        font-size: 1rem;
    }
    

    .citrus-content p {
        text-align: center;
        margin: 0.5rem 15% 2rem;
        background-color: #FFF9E4;
        padding: 1.5rem;


    }

    .citrus-content img {
        margin: 1rem 10%;
        width: 80%;
        
    }
    

    .kir-content {
        font-family: 'Courier New', Courier, monospace;
        color: black;
        font-size: 1rem;
    }
    
    .kir-content p {
        text-align: center;
        margin: 0.5rem 15% 2rem;
        background-color: #FFF9E4;
        padding: 1.5rem;
    }

    .kir-content img {
        margin: 1rem 10%;
        width: 80%;
    }

    .appelsin-content {
        font-family: 'Courier New', Courier, monospace;
        color: black;
        font-size: 1rem;
    }

    .appelsin-content p {
        text-align: center;
        margin: 0.5rem 15% 2rem;
        background-color: #FFF9E4;
        padding: 1.5rem;
    }

    .appelsin-content img {
        margin: 1rem 10%;
        width: 80%;
    }

    .original-content {
        font-family: 'Courier New', Courier, monospace;
        color: black;
        font-size: 1rem;
    }

    .original-content p {
        text-align: center;
        margin: 0.5rem 15% 2rem;
        background-color: #FFF9E4;
        padding: 1.5rem;

    }

    .original-content img {
        margin: 1rem 10%;
        width: 80%;
    }

    .smagskassen-content {
        font-family: 'Courier New', Courier, monospace;
        color: black;
        font-size: 1rem;
    }

    .smagskassen-content p {
        text-align: center;
        margin: 0.5rem 15% 3rem;
        background-color: #FFF9E4;
        padding: 1.5rem;

    }

    .smagskassen-content img {
        margin: 1rem 10%;
        width: 80%;
  }
}



/*Breakpoint for Ipad */
@media screen and (min-width: 768px) {
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }

  .logo-container {
    display: inline;
}
h1 {
    margin-top: 15vh;
    font-size: 1.5rem;
}
.citrus-content img {
    margin: 1rem 20%;
    width: 60%;
    
}
.kir-content img {
    margin: 1rem 20%;
    width: 60%;
}
.appelsin-content img {
    margin: 1rem 20%;
    width: 60%;
}

.original-content img {
    margin: 1rem 20%;
    width: 60%;
}

.smagskassen-content img {
    margin: 1rem 20%;
    width: 60%;
}

  footer {
    font-size: 1rem;
  }
}

/*Breakpoint for Iphone der ligger ned  */
@media screen and (min-width: 843px) {
    #main-menu {
        display: none;
      }
      #hamburger-menu {
        display: inline;
      }
    
      .logo-container {
        display: inline;
    }
    h1 {
        margin-top: 43vh;
    }
    
      footer {
        font-size: 1rem;
      } 
}

/*Breakpoint for computer*/
@media screen and (min-width: 1190px) {
    #main-menu {
        display: inline;
      }
      #hamburger-menu {
        display: none;
      }

      .logo-container {
        display: none;
      }


      /*Har lejet med grid for at få mine ting flyttet rundt på forsidden, 
      nu det ikke længere skal være til en lille skærm*/
 .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
 }

 h1 {
    justify-content: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    background-color: #FFF9E4;
    padding: 3rem 4rem;
 }

 .citrus-content img {
    width: 50%;
    justify-content: center;
    margin-left: 25%;
 }

 .kir-content img {
    width: 50%;
    justify-content: center;
    margin-left: 25%;
 }

 .appelsin-content img {
    width: 50%;
    justify-content: center;
    margin-left: 25%;
    
 }

 .original-content img {
    width: 50%;
    justify-content: center;
    margin-left: 25%;
   
 }

.smagskassen-content img {
    width: 50%;
    justify-content: center;
    margin-left: 25%;
}

.citrus-content p {
    font-size: 1rem;
    width: 50%;
    margin-left: 25%;
}

.kir-content p {
    font-size: 1rem;
    width: 50%;
    margin-left: 25%;
}

 .appelsin-content p {
    font-size: 1rem;
    width: 50%;
    margin-left: 25%;
    
 }

 .original-content p {
    font-size: 1rem;
    width: 50%;
    margin-left: 25%;
   
 }

 .smagskassen-content p {
    font-size: 1rem;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 3rem;
 }


    footer {
        display: flex;
        justify-content: space-around;
        font-size: 1rem;
    }
    footer #medier {
        font-size: 2rem;
        padding-top: 2.5rem;
    }
}